@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Poppins:wght@400;500;600&display=swap');
.header{
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 20px 0 20px 0;
}
.github_logo{
    height: 32px;
    width: auto;
    margin-top: 16px;
}
.page_title{
    /* height: 50px; */
    padding: 0;
    color: var(--primaryColor);
    justify-content: center;
    padding-bottom: 12px;
    /* margin: 32px 0; */
}
.top{
    display: flex;
    margin: 0 auto;
}
.buttons{
    text-align: center;
    /* display: flex; */
    /* gap: 5px; */
}
.info{
    margin-top: 2px;
    width: 7%;
    color: var(--primaryColor);
}
.time_button{
    height: 30px;
    width: 45px;
    margin: 0 4px;
}

.newGameBtn{
    width: 150px;
}
.game{
    margin: 8%;
    line-height:35px;
    height:285px;
    overflow: hidden;
    position: relative;
}
div .game:focus{
    outline:0;
}
.words{
    display: flex;
    min-width: 126px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    filter: blur(5px);
    color: var(--textSecondary);
    transition: all .25s ease;
}
.game:focus .words{
    filter: blur(0);
}
.focus_error {
    position: absolute;
    padding-top: 10%;
    inset: 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;

}
.game:focus .focus_error{
    display:none;
}
div.word{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
}
.letter{}
.letter.correct{
    color: #fff;
}
.letter.incorrect{
    color: #f55;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.cursor{
    display:flex;
    width: 3px;
    height: 1.6rem;
    background: var(--primaryColor);
    position: fixed;
    border-radius:10px;
    transition: all .15s ease;
    animation: blink .9s infinite;
}
.game.over .words{
    opacity: .5;
    filter: blur(0px);
    margin: 0 5px;
}
.game.over .focus-error {
    display: none;
}


.word_box{
    display: inline-block;
    font-size:20px;
    min-width:155px;
    border-width:0px;
    height: 95px;
    border-style:solid;
    color:var(--head-text-color);
    overflow:hidden;
    user-select:none;
    flex-wrap: nowrap;
}

.zh{
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.chinese.correct{
    /*color: #fff;*/
    color: var(--primaryColor);
}
.chinese{
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #666;
}
.chinese.incorrect{
    color: #f55;
}
.result{
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    color: var(--primaryColor);
    display: none;
    font-size: 4rem;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    flex-flow: column wrap;
}
.wpm{
    height: 60px;
}
.acc{
    height: 60px;
}
.title{
    color:#666;
    width: 120px;
    height:60px;
    font-size: 2.5rem;
}

.reminder{
    margin: 2% 0;
    height: 30px;
    display: flex;
    left:  45%;
    justify-content: center;
    align-items: center;
    font-size:  1rem;
    color: var(--textSecondary);
}
.restart_reminder{
    display: none;
}
.current{
  
}
